EcommerceWCFServiceClient/Connected Services/AuthServiceReference/EcommerceSystem2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EcommerceSystemWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EcommerceSystemWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="RegisterUserResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterUserResult" nillable="true" type="tns:RegisterUserResult" />
  <xs:complexType name="LoginResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="_yourId" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
</xs:schema>